body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
   width: 400px;
  height: 500px;
}

.row {
  display: flex;
  flex: 0 0 100%;
  margin-top: 10px 0 0 0;
  justify-content: space-around;
  list-style: none;
}

.key {
  flex: 0 1 50px;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
  color: white;
  background-color: tomato;
  font-weight: bold;
}

.operator {
  background-color: orange;
}

.output {
  flex: 3;
  text-align: right;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
}